.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.momentum-container {     
    padding: 1px; 
}

.momentum-diagram {     
    padding: 1px; 
}

.momentum-current-position {     
    padding: 1px; 
    width: 189px;
}

.momentum-ticker {     
    font-size: 18px; 
}

.momentum-description {     
    font-size: 14px; 
    padding: 1px; 
}

.momentum-ticker-statistic-value {     
    font-size: 18px; 
    padding: 1px; 
    width: 90px;
}

.momentum-ticker-statistic-number {     
    font-size: 18px; 
    padding: 1px; 
    width: 40px;
}

.momentum-ticker-statistic-ticker {     
    font-size: 18px; 
    padding: 1px; 
    width: 80px;
}

.momentum-backtest-result-number {     
    font-size: 12px; 
    padding: 1px; 
    width: 40px;
}

.momentum-backtest-result-strategy-name {     
    font-size: 12px; 
    padding: 1px; 
    width: 200px;
}

.momentum-backtest-result-strategy-params {     
    font-size: 12px; 
    padding: 1px; 
    width: 400px;
}

.momentum-backtest-result-rf {
    font-size: 12px; 
    padding: 1px; 
    width: 40px;
}

.momentum-backtest-result-np {
    font-size: 12px; 
    padding: 1px; 
    width: 90px;
}

.momentum-backtest-result-ayr {
    font-size: 12px; 
    padding: 1px; 
    width: 50px;
}

.momentum-metric {     
    padding: 1px; 
    width: 115px;
}

.momentum-metric-description {     
    font-size: 14px; 
}

.momentum-metric-value {     
    font-size: 28px; 
}

.momentum-total-sum {     
    padding: 1px; 
    width: 250px;
}

.momentum-total-summ-description {     
    font-size: 14px; 
}

.momentum-total-summ-value {     
    font-size: 28px; 
}

.momentum-money {     
    padding: 1px; 
    width: 250px;
}

.momentum-money-description {     
    font-size: 14px; 
}

.momentum-money-value {     
    font-size: 28px; 
}

.momentum-total-daily-pnl {     
    padding: 1px; 
    width: 250px;
}

.momentum-total-daily-pnl-description {     
    font-size: 14px; 
}

.momentum-total-daily-pnl-value {     
    font-size: 28px; 
}

.momentum-protocol-message-ticker {     
    font-size: 18px; 
    width: 100px;
    padding: 1px; 
}

.momentum-protocol-message-text {     
    font-size: 18px; 
    width: 1700px;
    padding: 1px; 
}

.momentum-version-button-container {    
    padding: 1px;
}

.momentum-version-button {    
    width: 100px;
    height: 30px;
}

.momentum-version-button-text {        
    font-size: 12px;
}

.momentum-terminal-row-number {     
    font-size: 18px; 
    padding: 1px; 
    width: 40px;
}

.momentum-terminal-row-ticker {     
    font-size: 18px; 
    padding: 1px; 
    width: 80px;
}

.momentum-terminal-row-target-position {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-life-position {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-sync-position {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-target-stop {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-life-stop {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-sync-stop {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-task-sync-position {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

.momentum-terminal-row-task-sync-stop {     
    font-size: 14px; 
    padding: 1px; 
    width: 130px;
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}