.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.life-portfolio-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.life-portfolio-total-sum {    
    padding: 1px;
    font-size: 22px; 
}

.life-portfolio-container {     
    padding: 1px; 
    font-size: 18px; 
}

.life-portfolio-number {
    width: 30px;
}

.life-portfolio-ticker {
    width: 150px;  
}

.life-portfolio-name {
    width: 250px;
}

.life-portfolio-column {
    width: 100px;
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}

.sort-button-container {  
    padding: 1px;
}

.sort-button {    
    width: 50px;
    height: 30px;
}

.sort-button-text {        
    font-size: 10px;
}