.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.life-portfolio-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.life-portfolio-total-sum {    
    padding: 1px;
    font-size: 22px; 
}

.life-portfolio-container {     
    padding: 1px;     
    font-size: 14px; 
}

.life-portfolio-number {
    padding: 1px;
    width: 30px;
}

.life-portfolio-ticker {
    padding: 1px;
    width: 120px;  
}

.life-portfolio-name {
    padding: 1px;
    width: 250px;
}

.life-portfolio-yield {
    padding: 1px;
    width: 70px;
}

.life-portfolio-rating {
    padding: 1px;
    width: 70px;
}

.life-portfolio-percent {
    padding: 1px;
    width: 70px;
}

.life-portfolio-delta-percent-text {
    padding: 1px;
    width: 200px;
}

.life-portfolio-delta-text {
    padding: 1px;
    width: 150px;
}

.life-portfolio-recommendation {
    padding: 1px;
    width: 100px;
}

.life-portfolio-size {
    padding: 1px;
    width: 100px;
}

.life-portfolio-life-size {
    padding: 1px;
    width: 100px;
}

.life-portfolio-cost {
    padding: 1px;
    width: 150px;
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}

.sort-button-container {  
    padding: 1px;
}

.sort-button {    
    width: 50px;
    height: 30px;
}

.sort-button-text {        
    font-size: 10px;
}